/* Importing fonts from Google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 350px;
  width: 50%;
  margin-top: 20%;
  margin-left: 20%;
  padding: 40px 30px 30px 30px;
  background-color: #ecf0f3;
  border-radius: 15px;
  box-shadow: 5px 5px 20px #cbced1, -10px -10px 15px #d9e2e980;
}

input {
  width: 100%;
  display: block;
  background-color: #28ace3;
  
  font-size: 1.2rem;

  padding: 15px 15px 10px 10px;
   /* border: 1px solid red;  */


}



h3 {
	font-family: 'Lobster', cursive;
}



.wrapper .btn {
  box-shadow: none;
  width: 100%;
  height: 40px;
  background-color: #52c6fc;
  color: #fff;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
  letter-spacing: 1.3px;
 
  
  
}





.wrapper input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: #28ace3;
}








